.navbar-brand {
    font-size: 25px !important;
    font-family: var(--fuentePrincipal);
}

.nav-link {
    font-size: 20px;
    color: #fff !important;
    font-family: var(--fuentePrincipal);
}

.nav-link:hover {
    color: #000000 !important;
}
.navegacion .navbar .nav-item {
    list-style: none;
    // margin-bottom: -15px;
}
.img-logo {
    width: 5%;
}
